.page {
  display: grid;
  gap: 16px;
  grid-template-areas:
    "header"
    "breadcrumb"
    "filter"
    "list"
    "footer";
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 768px) {
  .page {
    grid-template-areas: 
    "header header header"
    "breadcrumb breadcrumb breadcrumb"
    "filter list list"
    "footer footer footer";
    grid-template-columns: minmax(150px, 250px) 1fr 1fr;
    width: 768px;
  }
}

@media (min-width: 1024px) {
  .page {
    width: 1024px;
  }
}

@media (min-width: 1440px) {
  .page {
    width: 1440px;
  }
}

@media (min-width: 1660px) {
  .page {
    width: 1660px;
  }
}

.header {
  color: red;
  grid-area: header;
  padding: var(--spacing-default);
}

.breadcumb {
  background-color: var(--background-aside);
  grid-area: breadcrumb;
  padding: var(--spacing-default);
}

.filter {
  grid-area: filter;
  padding: var(--spacing-default);
}

.productList {
  grid-area: list;
  padding: var(--spacing-default);
}

.footer {
  grid-area: footer;
  background-color: var(--background-aside);
  padding: var(--spacing-default);
}
